<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email Sent</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold mb-8 text-center">{{response}}</h1>
        <div class="w-full max-w-lg mx-auto bg-gray-200 text-black p-8 shadow-2xl rounded-lg">
            <p>{{response}}</p>
            <div class="mt-6">
                <a href="{% url 'index' %}" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center">Compose Another Email</a>
            </div>
        </div>
    </div>
</body>
</html>